body {
    font-family: 'Ubuntu';
    margin: auto;
        }

.background {
    width: 1200px;
    background-color: white;
    margin-left: 100px;
    margin-right: auto
}

.head__item {
    color: #012601;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin-top: auto;
    margin-left: 30px;
    margin-right: 30px;
    }

.user {
    background-color: #797e79;
    }

.head {
    background-color: #034A02;
    text-align: center;
    display: flex;
    margin-bottom: 40px
}

.head-items {
    margin-left: 500px
}

.logo {
    margin-left: 50px;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

a {
color: black;
text-decoration: none
}
a:hover {
color: grey
}

.head__item_chosen {font-weight: bold}


.content_list__item {
                     padding: 10px;
                     background-color: #d3e2d4;
                     margin: 4px;
                     border-left: 4px solid #99a99a;
                     height: 21px;
                     }

.content_list__item__name {
                           font-size: 20px;
                           display: inline-block;
                           text-align: left;
                           width: 700px;
                           }

.content_list__item__delete {
                            text-align: right;
                            display: inline-block;
                            width: 430px;
                            }

.add_item {
            font-size: 20px;
            color: #b6b0b8;
            text-align: right;
            padding: 10px}

.create__location {
                   font-size: 30px;
                   text-align: left;
                   display: block;
                   width: 400px;
                   }

.errorlist {
    font-size: 15px;
    color: red;
    list-style-type: none
    }

.id_name {
    font-size: 15px
}

.check_list__position {
    background-color: #99a99a45;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    border-left: 5px solid #99a99a;
}

.check_list__position__question {
    font-size: 20px;
    display: inline-block;
    width: 1000px
}

.check_list__position__grade {
    font-size: 20px;
    display: inline-block;
    width: 132px;
    text-align: center;
    vertical-align: middle;
}

.check_list__position__delete {
    display: inline-block;
    text-align: center;
    height: 23px;
    margin-top: 2px;
    margin-left: 35px;
}

.check-list-form {
    width: fit-content;
    border: 2px solid #99a99a;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    background-color: #99a99a45
    }

.check_list__information {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px
}

.common-information {
    position:absolute;
    right: 20px;
    top: 165px;
    width: 400px;
    height: 400px;
    display: block;
    font-size: 30px;
    background-color: #99a99a45;
    margin-right: 62px;
    }

ul {
    list-style-type: none;
}
