body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: auto;
    min-width: 100%;
    color: #425342;
    }

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.wrap {
    margin: 0 100px;
    display: flex;
    margin-bottom: 100px;
}

main {
    width: 1200px;
    display: flex;
    flex-direction: column;
}

aside {
    padding-left: 30px;
    min-width: 280px;
    margin-top: 120px;
}

.background {
    width: 1200px;
    background-color: white;
    margin-left: 100px;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.head__item {
    font-size: 24px;
    margin-top: auto;
    color: white;
    }

.head-link {
    color: white;
}

.body-link {
    color: black;
    }

.user {
        color: black;
    }

.user:hover {
    color:white;
}

.head {
    background-color: #769276;
    display: flex;
    margin-bottom: 40px;
    width: 100%;
    min-width: 100%;
    height: 60px;
    position: relative;
    justify-content: space-between;
}

.head-items {
    color: black;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10%;
    padding-bottom: auto;
    justify-content: space-between;
    width: 35%;
    min-width: 450px;
}

.logo {
    margin-left: 50px;
    font-size: 17px;
    margin-top: auto;
    margin-bottom: auto;
    left: 50px;
    min-width: 250px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    }

input[type='radio'] {
    align-self: center;
}

a {
    text-decoration: none;
    color: #425342;
}

a:hover {
color: black;
}

.main-header {
    font-weight: normal;
}

.main-report-container {
    display: flex;
    flex-wrap: wrap;
}

.main-report {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 30%;
    border: none;
    border-left: 2px solid #769276;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 20px;
    min-width: 300px;
}

.main-report__title {
    text-align: center;
    font-size: 30px;
    font-weight: normal;
}

.main-report-form {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
}

.main-report-form > #submit {
    margin-top: 21px;
    height: 40px;
    border: none;
    background-color: #769276;
    color: white;
    font-size: 20px;
    font-weight: normal;
    cursor: pointer;
    border-radius: 10px;
}

.main-report-form > #submit:hover {
    background-color: #4c694c;
}

#start_date, #finish_date {
    border: none;
    border-bottom: 1px solid black;
    height: 25px;
    width: 114px;
    margin-left: 20px;
    font: inherit;
    font-size: 18px;
}

label {
    display: flex;
    justify-content: space-between;
}

.main-report__executive-director-cintainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#executive_director {
    width: 100%;
    margin-top: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #425342;
}

#executive_director:focus {
    outline: none;
}

.list_container {
    display: flex;
    flex-wrap: wrap;
}

.list_item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 4px;
    border-left: 4px solid #99a99a;
    position: relative;
    width: 30%;
    color:#425342
    }

.list_item:hover {
    background-color: #f4f5f4;
    color: #425342;
}

.list_item:hover 
.list_item__delete {
    visibility: visible;
}

.list_item__object {
    font-weight: bold;
}

.list_item__locationdate_container {
    display: flex;
    justify-content: space-between;
}

.list_item__locationdate_item {
    font-size: 0.75em;
}

.list_item__delete {
    position: absolute;
    top: 0;
    right: 10px;
    visibility: hidden;
}

.list_item__delete:hover {
    font-weight: bold;
}

.pagination_pointer {
    font-weight: bold;
    color:#769276
}

.pagination {
    margin-top: 35px;
}

.current {
    margin: 0 10px;
}

.content_list__item__name {
    font-size: 20px;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.content_list__item__delete {
    text-align: right;
    position: absolute;
    display: inline-block;
    right: 30px;
}

.add_item {
            font-size: 20px;
            text-align: right;
            padding: 10px}

.create__location {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 15vh;
    margin: auto;
    padding: 20px;
    text-align: left;
    width: 300px;
    background-color: #f2f5f2;
}

.errorlist {
    font-size: 15px;
    color: red;
    list-style-type: none;
    position: absolute;
    top: 147px;
    left: 679px;
    }

.id_name {
    font-size: 15px
}

.check_list__position {
    position: relative;
    margin-top: 5px;
    display: flex;
    padding: 5px;
    border-left: 5px solid #99a99a;
}

.check_list__position:hover {
    background-color:#f2f5f2;
}

.check_list__position:hover
.list_item__delete {
    visibility: visible;
}

.check_list__position__question {
    font-size: 20px;
    display: inline-block;
    width: 1000px
}

.check_list__position__grade {
    font-size: 20px;
    display: inline-block;
    width: 70px;
    height: fit-content;
    text-align: center;
    align-self: center;
    background-color: #cfc8c8;
    padding: 2px 0 7px 0;
    border-radius: 23px;
    color: #f4f5f4;
    font-weight: bold;
}

.check_list__position__delete {
    display: inline-block;
    text-align: center;
    height: 23px;
    margin-top: 2px;
    margin-left: 35px;
}

#id_grade {
    display: flex;
}

select {
    width: 50%;
    }

option {
        width: 100px;
    }

.check_list__information {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px
}

.right_column {
    padding-left: 30px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
    justify-content: center;
}

.right_column__common-information {
    display: flex;
    font-size: 1em;
    background-color: #99a99a45;
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    align-items: center;
    }

.right_column__common-information__description {
    width: 70%;
    font-size: 100%;
}

.right_column__common-information__result {
    width: 30%;
}


.right-column__download-check-list {
    background-color: #99a99a45;
    width: 100%;
    height: 75px;
    text-align: center;
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
}

.right-column__btn-name {
    font-size: 1em;
    padding: 7px;
}

.right-column__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #99a99a45;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    height: 80px;
    box-shadow: 3px 3px 3px#769276;
    border-radius: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

.start-page-information {
    display: flex;
    }

.start-page-information-card {
    width: 33%;
    height: 300px;
    background-color: #d3e2d4;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    /* box-shadow: 0 1em 1em -0.7em; */
}

.start-page-information-card:nth-child(n+2) {
    margin-left: 1.5%;
}

.start-page-information-card__description {
    font-size: 25px;
    display: block;
    height: 100px;
    width: 100%;
}

.start-page-information-card__value {
    margin-top: 25px;
    font-size: 70px;
    }

.start-page-rating {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.start-page-rating-card {
    width: 100%;
    height: 300px;
    background-color: #d3e2d4;
    padding: 2%;
    text-align: center;
    box-sizing: border-box;
    /* box-shadow: 0 1em 1em -0.7em; */
}

.start-page-rating-card:nth-child(1) {
    margin-bottom: 30px;
}

.start-page-rating-card__description {
    font-size: 25px;
    display: block;
    height: 20%;
    width: 100%;
}

.start-page-rating-card__value {
    font-size: 70px;
    display: block;
    height: 50%;
    width: 100%;
}

.start-page-rating-card__object {
    font-size: 25px;
    display: block;
    height: 30%;
    width: 100%;
}

.score {
    font-size: 2em;
}

.correction_report_wrap {
    display: flex;
    flex-direction: column;
}

.correction_report_providing_checking_container {
    display: flex;
}

.correction_report_providing_checking_container__item {
    height: 30px;
    width: 150px;
    border: 3px solid black;
    text-align: center;
    border-radius: 20px;
    margin: 0 5px;
    color: white;
    font-weight: bold;
}

.positive {
    background-color: #769276;
}

.negative {
    background-color: red;
}

.correction_report_header_one {
    margin-bottom: 0;
}

.correction_report_header_two {
    margin-top: 0;
    font-weight: 300;font-size: inherit;
}

.correction_report_comments {
    display: flex;
    flex-direction: column;
}

.correction_report_comments__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-left: 3px solid #769276;
}

.correction_report_comments__item__delete {
    width: 105px;
    height: 30px;
    border-radius: 20px;
    background-color: #769276;
    text-align: center;
}

.correction_report_comments__item__content {
    width: fit-content;
    margin-left: 10px;
    margin-right: 10px;
}

.correction_report_comments_form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

.correction_report_comments_form__input {
    height: 125px;
    padding: 20px;
    border: 2px solid #769276;
    border-radius: 10px;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

.correction_report_comments_form__submit {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    background-color: #769276;
    cursor: pointer;
}

.correction_report_comments_form__input:focus {
    border-color: #769276;
}

.ok {
    width: 274px;
    height: 40px;
}

.authorization {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 34, 35, 0.6);
}

.authorization-form {
    height: 300px;
    width: 300px;
    position: fixed;
    left:0;
    right: 0;
    top: 15vh;
    bottom: auto;
    background-color:#f2f5f2;
    padding: 20px;
    margin: auto;
    z-index: 1;
}

.form-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 35px;
}

#id_username, #id_password, #id_name, #id_location,
#id_date, #id_object {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 15px;
    background-color:#e6e9e6;
    border: none;
    padding: 10px;
}

.authorization-form__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#id_username:focus, #id_password:focus,
#id_name:focus, #id_location:focus  {
    border: 2px solid #769276;
    outline: 0;
}

.form_submit_btn {
    background-color: #769276;
    color: #e6e9e6;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.form-close {
    position: absolute;
    top: -30px;
    right: 0;
    font-size: larger;
    font-weight: bold;
    color:#d3e2d4
}

/* Check_list*/

.check-list-wrap {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.check-list-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
    }

.check-list-form__item {
    margin: 5px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px grey;
    background-color:#e6e9e6;
    border-radius: 10px;
}

.check-list-form__choose-container {
    display: flex;
    justify-content: center;
}

input[type='radio'] {
    align-self: center;
    width: 20px;
    height: 20px;
}

.check-list-form__label:nth-child(n+2) {
    margin-left: 15px;
}

.check-list-submit-btn {
    width: 150px;
    align-self: end;
}

.check-me-container {
    display: flex;
    flex-wrap: wrap;
}

.check-me-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: antiquewhite;
}

.check-me-item__name {
    font-weight: bold;
}

.check-me-item__location {
    font-size: 15px;
}

.check-me-item:hover {
    padding: 15px;
    margin: 5px;
    color: #425342;
}