<!DOCTYPE html>

{% load static %}

<html lang='ru'>
	<head>
	    <link href="{% static "/css/style.css" %}?v=21062022" rel="stylesheet">
        <link href="{% static "/css/object_page.css" %}?v=28062022" rel="stylesheet">
        <link href="{% static "/css/error.css" %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
        <title>ИС Ревизионного отдела</title>
	</head>
	<body>
        {% block head %}
        <div class="head">
            <div class="logo">
                Информационная система<br>ревизионного отдела
                <span class="version">default (1.2.3)</span>
            </div>
            <div class="head-items">
                <div class="head__item">
                    <a class="head-link" href="{% url 'start_page' %}">Главная</a>
                </div>
                <div class="head__item">
                    <a class="head-link" href="{% url 'object-list' %}">Объекты</a>
                </div>
                <div class="head__item">
                    <a class="head-link" href="{% url 'control-event-list' %}">Проверки</a>
                </div>
                <div class="head__item user">
                    {% if user.is_authenticated is False %}
                    <a class="head-link" href="/accounts/login/">Войти</a>
                    {% else %}
                    <a class="head-link" href="{% url 'logout' %}">{{user}}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="wrap">
            <main>
                {% block main %}
                <h1 class="main-header">Отчёты и сводные таблицы</h1>
                <div class="main-report-container">
                    <div class="main-report">
                        <h2 class="main-report__title">Отчёт о проведенных проверках за период</h2>
                        <form action="/report/" method="get" class="main-report-form">
                            <label for="start_date">Начальная дата:
                                <input id="start_date" type="date" name="start_date" required>
                            </label>
                            <label for="finish_date">Конечная дата:
                                <input id="finish_date" type="date" name="finish_date" required>
                            </label>
                            <input id="submit" type="submit" value="ОК">
                        </form>
                    </div>
                    <div class="main-report">
                        <h2 class="main-report__title">Статистика по нарушениям</h2>
                        <form action="/breach_statistics/" method="get" class="main-report-form">
                            <label for="start_date">Начальная дата:
                                <input id="start_date" type="date" name="start_date" required>
                            </label>
                            <label for="finish_date">Конечная дата:
                                <input id="finish_date" type="date" name="finish_date" required>
                            </label>
                            <input id="submit" type="submit" value="ОК">
                        </form>
                    </div>
                    <div class="main-report">
                        <h2 class="main-report__title">Информация<br> о не закрытых отчётах<br> об устранении нарушений</h2>
                        <form action="/report_checking/report_not_submited/" method="get" class="main-report-form">
                            <input id="submit" class="ok" type="submit" value="ОК">
                        </form>
                    </div>
                    <div class="main-report">
                        <h2 class="main-report__title">Отчёт о проверках<br> по исполнительному директору</h2>
                        <form action="ex_direct_report/" method="get" class="main-report-form">
                            <label for="start_date">Начальная дата:
                                <input id="start_date" type="date" name="start_date" required>
                            </label>
                            <label for="finish_date">Конечная дата:
                                <input id="finish_date" type="date" name="finish_date" required>
                            </label>
                            <label class="main-report__executive-director-cintainer" for="execute_director">Исполнительный директор:
                                <select id="executive_director" name="executive_director" required>
                                    <option disabled selected>Выберите героя ...</option>
                                    {% for executive_director in executive_directors %}
                                    <option value="{{ executive_director.id }}">{{ executive_director }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <input id="submit" type="submit" value="ОК">
                        </form>
                    </div>
                    <div class="main-report">
                        <h2 class="main-report__title">Рейтинг<br> 
                        муниципалитетов</h2>
                        <form action="rating/" method="get" class="main-report-form" target="_blank">
                            <label for="start_date">Начальная дата:
                                <input id="start_date" type="date" name="start_date" required>
                            </label>
                            <label for="finish_date">Конечная дата:
                                <input id="finish_date" type="date" name="finish_date" required>
                            </label>
                            <input id="submit" type="submit" value="ОК">
                        </form>
                    </div>
                </div>
                <h1 class="main-header">Проверь меня &#129306</h1>
                <div class="check-me-container">
                    {% for object in plan %}
                    <a href="{% url 'object-page' object.id %}" class="check-me-item">
                        <div class="check-me-item__name">{{ object.name }}</div>
                        <div class="check-me-item__location">{{ object.location }}</div>
                    </a>
                    {% endfor %}
                </div>
                {% endblock %}
            </main>
            <aside class="right_column">
            {% block aside %}
            {% endblock %}
            </aside>
    </body>

</html>