<!DOCTYPE html>

{% load static %}

<html lang='ru'>
	<head>
	    <link href="{% static "/css/style.css" %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap" rel="stylesheet">
        <title>{{title}}</title>
	</head>
	<body>
            {% block head %}
            <div class="head">
                <div class="logo">CHECK-LIST</div>
                <div class="head-items">
                <div class="head__item">
                    <a class="head-link" href="{% url 'start_page' %}">Главная</a>
                    </div>
                <div class="head__item">
                    <a class="head-link" href="{% url 'location-list' %}">Муниципалитеты</a>
                    </div>
                <div class="head__item">
                    <a class="head-link" href="{% url 'object-list' %}">Объекты</a></div>
                <div class="head__item">
                    <a class="head-link" href="{% url 'control-event-list' %}">Проверки</a>
                </div>
					<div class="head__item user">
                        {% if user.is_authenticated is False %}
                            <a class="head-link" href="http://127.0.0.1:8000/accounts/login/">Войти</a>
                        {% else %}
                            <a class="head-link" href="{% url 'logout' %}">{{user}}</a>
                        {% endif %}</div>
	            </div>
            </div>
            {% endblock %}
		<div class=background>
            {% block content %}
            <div class="start-page-information">
                <div class="start-page-information-card">
                    <div class="start-page-information-card__description">Всего проведено проверок в 2022 году</div>
                    <div class="start-page-information-card__value">118</div>
                </div>
                <div class="start-page-information-card">
                    <div class="start-page-information-card__description">Количество неудовлетворительных оценок</div>
                    <div class="start-page-information-card__value">25</div>
                </div>
                <div class="start-page-information-card">
                    <div class="start-page-information-card__description">Средний балл за проверку</div>
                    <div class="start-page-information-card__value">88</div>
                </div>
            </div>
            <div class="start-page-rating">
                <div class="start-page-rating-card">
                    <div class="start-page-rating-card__description">Самый лучший результат</div>
                    <div class="start-page-rating-card__value">90 баллов</div>
                    <div class="start-page-rating-card__object">Школа № 1 Краснознаменский район</div>
                </div>
                <div class="start-page-rating-card">
                    <div class="start-page-rating-card__description">Самый худший результат</div>
                    <div class="start-page-rating-card__value">65 баллов</div>
                    <div class="start-page-rating-card__object">Школа № 8 Балтийский ГО</div>
                </div>
            </div>
        </div>

            {% endblock %}
            </div>
	</body>
</html>