<!DOCTYPE html>

{% load static %}

<html lang='ru'>
	<head>
	<link href="{% static "/css/style.css" %}" rel="stylesheet">
	</head>
	<body>
	    <div class="background">
            <div class="head">
                <div class="head__item">
                    <a href="#">Главная</a>
                    </div>
                <div class="head__item">
                    <a href="http://127.0.0.1:8000/locations/">Муниципалитеты</a>
                    </div>
                <div class="head__item">Объекты</div>
                <div class="head__item">Проверки</div>
            </div>
	    </div>
	</body>
</html>