<!DOCTYPE html>

{% extends "checks/index.html" %}
{% load static %}
{% block main %}
    <div class="add_item"><a href="{% url 'location-create' %}">Добавить муниципалитет</a></div>
    <div class="content_list">
        {% for location in locations %}
            <div class="content_list__item">
                    <div class="content_list__item__name"><a class="body-link" href="{% url 'location' location.id %}">{{location}}</a></div>
            </div>
        {% endfor %}
            </div>
        {% endblock %}

