<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "/css/style.css" %}" rel="stylesheet">
    <title>Муниципалитеты</title>
</head>
<body>
<div class="background">
            <div class="head">
                <div class="head__item">
                    <a href="http://127.0.0.1:8000/">Главная</a>
                    </div>
                <div class="head__item head__item_chosen">
                    <a href="http://127.0.0.1:8000/locations/">Муниципалитеты</a>
                    </div>
                <div class="head__item">Объекты</div>
                <div class="head__item">Проверки</div>
            </div>
            <div class="add_item"><a href="http://127.0.0.1:8000/add_location/">Добавить муниципалитет</a></div>
            <div class="content_list">
                {% for location in locations %}
                <div class="content_list__item">
                    <div class="content_list__item__name">{{location}}</div>
                    <div class="content_list__item__delete"><a href="http://127.0.0.1:8000/locations/delete/?location_id={{location.id}}">удалить</a></div>
                </div>
                {% endfor %}
            </div>
	    </div>
</body>
</html>