<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong>Объекты питания:</strong></p>
<ul> {% for object in objects %}
        <li> Наименование: {{ object.name }} Муниципалитет: {{ object.location }}  </li>
        {% endfor %}
</ul>

<form action="http://127.0.0.1:8000/inf/" method="GET">
    <p>
        <label for="inf">
            Информация:
        </label>
        <input type="text" name="inf">
        <input type="submit" value="Отправить">
    </p>
</form>
</body>
</html>
